body.remark-container {
  background: #F5EAD8;
  font-family: 'Futura';
}
h1,
h2,
h3 {
  font-family: 'Futura';
  font-weight: normal;
}
#b-zier-kurver {
  font-size: 5em;
}
.remark-slide-content {
  background: #F5EAD8;
  color: #398999;
}
.remark-slide-scaler {
  box-shadow: none;
}
.remark-code,
.remark-inline-code {
  font-family: 'Ubuntu Mono';
}
